/**
 * 01. 01. Field: image_select
 */

/* layout_preset */

.domain-for-sale-field-image_select .domain-for-sale--image,
.domain-for-sale-field-layout_preset .domain-for-sale--image {
  cursor: pointer;
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0 5px 5px 0;
  vertical-align: bottom;
  outline: 2px solid transparent;
  background-color: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline-offset: -2px;
}

.domain-for-sale-field-layout_preset .domain-for-sale--image:before,
.domain-for-sale-field-image_select .domain-for-sale--image:before {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 11px;
  font-family: "IcoFont";
  content: "\eed8";
  width: 15px;
  height: 15px;
  line-height: 15px;
  opacity: 0;
  color: #fff;
  background-color: #199e83;
  transition: opacity 0.2s;
}

.domain-for-sale-field-layout_preset
  .domain-for-sale--active.domain-for-sale--image:before,
.domain-for-sale-field-image_select
  .domain-for-sale--image.domain-for-sale--active:before {
  opacity: 1;
}

.domain-for-sale-field-image_select .domain-for-sale--active img {
  outline-color: #199e83;
}

.domain-for-sale-field-image_select img {
  vertical-align: top;
  outline: solid 3px transparent;
  outline-offset: -3px;
}

.domain-for-sale-field-image_select input,
.domain-for-sale-field-layout_preset input {
  display: none;
}

.domain-for-sale-field-layout_preset .domain-for-sale--image img {
  color: #7b8898;
  margin-right: 10px;
  outline: solid 3px transparent;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  max-width: 120px;
  max-height: 80px;
  box-shadow: inset 0 0 0px 3px #fff;
  outline-offset: -3px;
}

.domain-for-sale-field-layout_preset .domain-for-sale--image img {
  max-width: 100%;
}

#domain-for-sale-section-dfs_layouts_1
  .domain-for-sale-field-layout_preset
  span {
  font-size: 13px;
}

.domain-for-sale-field-layout_preset span {
  margin-top: 5px;
  font-weight: 500;
  text-align: center;
  margin-right: 10px;
  display: block;
  font-size: 12px;
}

.domain-for-sale-field-layout_preset
  .domain-for-sale--image.domain-for-sale--active
  img {
  outline-color: #199e83;
}

.domain-for-sale-layout-preset
  .domain-for-sale--image:hover
  a.domain-for-sale-live-demo-icon,
.domain-for-sale-layout-preset
  .domain-for-sale--image.domain-for-sale--active
  a.domain-for-sale-live-demo-icon {
  opacity: 1;
  pointer-events: painted;
  transition: all 0.2s linear;
}
.domain-for-sale-layout-preset
  .domain-for-sale--image
  a.domain-for-sale-live-demo-icon {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.domain-for-sale-layout-preset
  .ta-carousel-type
  a.domain-for-sale-live-demo-icon {
  margin-left: 6px;
  text-decoration: none;
}

/* Container styles */
.domain-for-sale-live-demo-icon {
  position: relative; /* Position relative to parent */
  display: inline-block;
  cursor: pointer;
}

/* Tooltip styling */
.domain-for-sale-live-demo-icon::after {
  content: attr(tooltip);
  position: absolute;
  bottom: -175%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  pointer-events: none;
  z-index: 999;
}

.domain-for-sale-live-demo-icon::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.domain-for-sale-live-demo-icon:hover::after,
.domain-for-sale-live-demo-icon:hover::before {
  opacity: 1;
  visibility: visible;
}

/**
 *
 *Custom Style for the SP PCP
 *
 **/
.domain_for_sale_column_2 ul,
.domain_for_sale_column_2 .domain-for-sale-fieldset ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.domain_for_sale_column_2 ul li,
.domain_for_sale_column_2 .domain-for-sale-fieldset ul li {
  width: 50%;
}

#domain_for_sale_view_options {
  border-top-color: #f1f1f1;
  margin-top: -21px;
}

#domain_for_sale_view_options .domain-for-sale-nav ul li {
  margin-bottom: -1px;
}

#domain_for_sale_view_options .domain-for-sale-nav.domain-for-sale-nav-metabox {
  border-right-color: #f1f1f1;
  border-right-color: #f1f1f1;
  background: #f1f1f1;
  margin-right: 0;
  padding-top: 15px;
}

#domain_for_sale_view_options .domain-for-sale-content {
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
}

#domain-for-sale-section-dfs_layouts_1
  .domain-for-sale-field-layout_preset
  .domain-for-sale-title,
#domain-for-sale-section-dfs_layouts_1
  .domain-for-sale-field-gallery
  .domain-for-sale-title,
.domain_for_sale_carousel_content_wrapper .domain-for-sale-title,
.domain-for-sale-video-description .domain-for-sale-title,
.domain-for-sale-video-field-wrapper > .domain-for-sale-title {
  width: 100%;
}

#domain-for-sale-section-dfs_layouts_1
  .domain-for-sale-field-layout_preset
  .domain-for-sale-fieldset,
#domain-for-sale-section-dfs_layouts_1
  .domain-for-sale-field-gallery
  .domain-for-sale-fieldset,
.domain_for_sale_carousel_content_wrapper .domain-for-sale-fieldset,
.domain-for-sale-video-description .domain-for-sale-fieldset,
.domain-for-sale-video-field-wrapper > .domain-for-sale-fieldset {
  margin-top: 30px;
  margin-left: 0;
  width: 100%;
}
#dfs_layouts {
  margin-bottom: 0;
}
#dfs_template_options .postbox-header,
#dfs_template_options .handlediv,
#dfs_template_options_layouts .handlediv,
#dfs_layouts .postbox-header {
  display: none;
}

#domain-for-sale-section-dfs_layouts_1 .domain-for-sale-admin-header {
  background: #199e83;
  background: -webkit-linear-gradient(to right, #199e83, #1abc9c);
  background: linear-gradient(to right, #199e83, #1abc9c);
  padding: 18px 26px;
  overflow: hidden;
}

#domain-for-sale-section-dfs_layouts_1 .domain-for-sale-admin-header img {
  max-width: 180px;
}

#domain-for-sale-section-dfs_layouts_1 .domain-for-sale-admin-header .support {
  margin-left: 16px;
  float: right;
}

#domain-for-sale-section-dfs_layouts_1
  .domain-for-sale-admin-header
  .support
  a {
  color: #ffffff;
  text-decoration: none;
  line-height: 35px;
  font-size: 15px;
  font-weight: 500;
}
.domain_for_sale_reading_time_meta .clear {
  clear: initial;
}
.eventfu_reading_time_postfix .domain-for-sale-fieldset input,
.domain_for_sale_reading_time_meta .domain-for-sale--wrap {
  margin-right: 5px;
}
.domain_for_sale_reading_time_meta .domain-for-sale-fieldset {
  line-height: 2;
}
.eventfu_reading_time_postfix .domain-for-sale-fieldset input {
  max-width: 255px;
}

/**
 * Theme Light
 */

.domain-for-sale-theme-light .domain-for-sale-container {
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
}

.domain-for-sale-theme-light .domain-for-sale-header-inner {
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  background: linear-gradient(#fefefe, #f5f5f5);
}
.ta-domain-for-sale-settings.domain-for-sale-theme-light
  .domain-for-sale-header-inner {
  border-bottom: 1px solid #cecece;
  background-color: #f2f2f2;
  background: linear-gradient(#fefefe, #f2f2f2);
}

.domain-for-sale-theme-light .domain-for-sale-header-inner h1 small {
  color: #999;
}

.domain-for-sale-theme-light .domain-for-sale-expand-all {
  color: #999;
  background-color: #fff;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.domain-for-sale-theme-light .domain-for-sale-expand-all:hover {
  color: #555;
}

.domain-for-sale-theme-light .domain-for-sale-search input {
  color: #555;
  background-color: #fff;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.domain-for-sale-theme-light
  .domain-for-sale-search
  input::-webkit-input-placeholder {
  color: #bbb;
}

.domain-for-sale-theme-light .domain-for-sale-nav {
  background: #f1f1f1;
}

.domain-for-sale-theme-light .domain-for-sale-nav ul li a {
  background-color: #199e83;
  border-top: 1px solid #199e83;
  border-right: 1px solid #e2e2e1;
  border-bottom: 1px solid #ddd;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
  padding: 16px 15px;
  text-transform: uppercase;
}
.ta-domain-for-sale-settings.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  a {
  padding: 14px 15px;
  font-size: 12px;
  background: #efefef;
  color: #000;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  border-right: 0;
}
.ta-domain-for-sale-settings.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  a:first-child {
  border-top: 0 solid transparent;
}
.ta-domain-for-sale-settings.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  .domain-for-sale-section-active {
  background-color: #fff;
  color: #199e83;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #fff;
  box-shadow: 3px 0 0 0 #199e83 inset;
}
.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  .domain-for-sale-section-active {
  background-color: #fff;
  color: #000;
}

#domain_for_sale_view_options
  .domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  .domain-for-sale-section-active {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #199e83;
  box-shadow: 0 3px 0 0 #199e83 inset;
}

.ta-domain-for-sale-options.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  a {
  background: #efefef;
  color: #000;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}

.ta-domain-for-sale-options.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  a:first-child {
  border-top: 1px solid transparent;
}

#domain_for_sale_view_options
  .domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  .domain-for-sale-section-active
  i,
.ta-domain-for-sale-options.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  .domain-for-sale-section-active
  i {
  color: #199e83;
}

.ta-domain-for-sale-options.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  .domain-for-sale-section-active {
  background-color: #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  box-shadow: 4px 0 0 0 #199e83 inset;
}

.domain-for-sale-theme-light
  .domain-for-sale-nav
  ul
  li
  .domain-for-sale-section-active:after {
  display: none;
}

.domain-for-sale-theme-light .domain-for-sale-nav ul ul li a {
  background-color: #eee;
  border-bottom: 1px solid #e5e5e5;
}

.domain-for-sale-theme-light .domain-for-sale-nav-background {
  background-color: #ddd;
}

.domain-for-sale-theme-light .domain-for-sale-footer {
  color: #555;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  background: linear-gradient(#fafafa, #f5f5f5);
}

.domain-for-sale-field-box_shadow .domain-for-sale--inputs,
.domain-for-sale-field-border .domain-for-sale--inputs,
.domain-for-sale-field-spacing .domain-for-sale--inputs,
.domain-for-sale-field-column .domain-for-sale--inputs,
.domain-for-sale-field-dimensions .domain-for-sale--inputs,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--inputs {
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.domain-for-sale-field-box_shadow .domain-for-sale--input,
.domain-for-sale-field-border .domain-for-sale--input,
.domain-for-sale-field-spacing .domain-for-sale--input,
.domain-for-sale-field-column .domain-for-sale--input,
.domain-for-sale-field-dimensions .domain-for-sale--input,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--input {
  display: flex;
  padding-right: 6px;
  padding-bottom: 4px;
  box-sizing: border-box;
}

.domain-for-sale-field-box_shadow .domain-for-sale--input select,
.domain-for-sale-field-border .domain-for-sale--input select,
.domain-for-sale-field-spacing .domain-for-sale--input select,
.domain-for-sale-field-column .domain-for-sale--input select,
.domain-for-sale-field-dimensions .domain-for-sale--input select,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--input select {
  margin: 0;
}

.domain-for-sale-content
  .domain-for-sale-field-box_shadow
  .domain-for-sale--input
  input {
  width: 58px;
}
.domain-for-sale-field-box_shadow .domain-for-sale--input input,
.domain-for-sale-field-border .domain-for-sale--input input,
.domain-for-sale-field-spacing .domain-for-sale--input input,
.domain-for-sale-field-column .domain-for-sale--input input,
.domain-for-sale-field-dimensions .domain-for-sale--input input,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--input input {
  position: relative;
  z-index: 1;
  margin: 0;
  width: 65px;
  max-width: 100%;
  text-align: center;
}

.domain-for-sale-field-box_shadow .domain-for-sale--color,
.domain-for-sale-field-border .domain-for-sale--color,
.domain-for-sale-field-spacing .domain-for-sale--color,
.domain-for-sale-field-dimensions .domain-for-sale--color {
  float: left;
}

.domain-for-sale-field-box_shadow .domain-for-sale--label,
.domain-for-sale-field-border .domain-for-sale--label,
.domain-for-sale-field-spacing .domain-for-sale--label,
.domain-for-sale-field-column .domain-for-sale--label,
.domain-for-sale-field-dimensions .domain-for-sale--label,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  min-width: 20px;
  max-width: 100%;
  padding: 0 4px;
  font-size: 12px;
  text-align: center;
  color: #555;
  border: 1px solid #7b776c;
  background-color: #f5f5f5;
}

.domain-for-sale-field-box_shadow .domain-for-sale--icon,
.domain-for-sale-field-border .domain-for-sale--icon,
.domain-for-sale-field-spacing .domain-for-sale--icon,
.domain-for-sale-field-column .domain-for-sale--icon,
.domain-for-sale-field-dimensions .domain-for-sale--icon,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--icon {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}

.domain-for-sale-field-box_shadow .domain-for-sale--icon + input,
.domain-for-sale-field-border .domain-for-sale--icon + input,
.domain-for-sale-field-spacing .domain-for-sale--icon + input,
.domain-for-sale-field-column .domain-for-sale--icon + input,
.domain-for-sale-field-dimensions .domain-for-sale--icon + input,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--icon + input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.domain-for-sale-field-box_shadow .domain-for-sale--unit,
.domain-for-sale-field-border .domain-for-sale--unit,
.domain-for-sale-field-spacing .domain-for-sale--unit,
.domain-for-sale-field-column .domain-for-sale--unit,
.domain-for-sale-field-dimensions .domain-for-sale--unit,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--unit {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}

.domain-for-sale-field-box_shadow .domain-for-sale--is-unit,
.domain-for-sale-field-border .domain-for-sale--is-unit,
.domain-for-sale-field-spacing .domain-for-sale--is-unit,
.domain-for-sale-field-dimensions .domain-for-sale--is-unit {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Post content sortble custom css */
.post_content_sorter.domain-for-sale-field-sortable
  .domain-for-sale-sortable-helper {
  border-left: none;
  background-color: #199e83;
  color: #fff;
  height: 48px;
  line-height: 48px;
  display: block;
  padding-right: 1px;
}
.post_content_sorter.domain-for-sale-field-sortable
  .domain-for-sale-sortable-helper
  .fas {
  color: #fff;
}
.domain-for-sale-field-accordion.domain-for-sale-opened-accordion
  .domain-for-sale-accordion-title,
.post_content_sorter.domain-for-sale-field-sortable
  .domain-for-sale-sortable
  .domain-for-sale-sortable-item
  h4.domain-for-sale-accordion-title {
  border: none;
  box-shadow: none;
  background-color: #199e83;
  color: #fff;
  margin-left: -1px;
}
.domain-for-sale-field-accordion.domain-for-sale-opened-accordion {
  padding-bottom: 15px;
}
.domain-for-sale-field-accordion.domain-for-sale-opened-accordion
  .domain-for-sale-accordion-title {
  margin-left: 0;
}
.post_content_sorter.domain-for-sale-field-sortable
  .domain-for-sale-sortable-content
  > .domain-for-sale-field {
  padding: 0;
}
.post_content_sorter.domain-for-sale-field-sortable
  .domain-for-sale-field-accordion
  .domain-for-sale-accordion-item {
  margin-bottom: 0;
}
.post_content_sorter.domain-for-sale-field-sortable
  .domain-for-sale-field-accordion
  .domain-for-sale-accordion-content.domain-for-sale-accordion-open
  ~ h4.domain-for-sale-accordion-title {
  border-radius: 0;
}
.post_content_sorter.domain-for-sale-field-sortable
  .domain-for-sale-field-accordion
  .domain-for-sale-accordion-content {
  border: none;
  box-shadow: none;
}
.post_content_sorter.domain-for-sale-field-sortable
  .domain-for-sale-sortable
  .domain-for-sale-sortable-item {
  display: table;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #ccd0d4;
}

/**
 * 03. 05. Field: border, spacing, dimensions, column, dimensions_advanced
 */

.domain-for-sale-field-box_shadow .domain-for-sale--inputs,
.domain-for-sale-field-border .domain-for-sale--inputs,
.domain-for-sale-field-spacing .domain-for-sale--inputs,
.domain-for-sale-field-column .domain-for-sale--inputs,
.domain-for-sale-field-dimensions .domain-for-sale--inputs,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--inputs {
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.domain-for-sale-field-box_shadow .domain-for-sale--input,
.domain-for-sale-field-border .domain-for-sale--input,
.domain-for-sale-field-spacing .domain-for-sale--input,
.domain-for-sale-field-column .domain-for-sale--input,
.domain-for-sale-field-dimensions .domain-for-sale--input,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--input {
  display: flex;
  padding-right: 6px;
  padding-bottom: 4px;
  box-sizing: border-box;
}

.domain-for-sale-field-box_shadow .domain-for-sale--input select,
.domain-for-sale-field-border .domain-for-sale--input select,
.domain-for-sale-field-spacing .domain-for-sale--input select,
.domain-for-sale-field-column .domain-for-sale--input select,
.domain-for-sale-field-dimensions .domain-for-sale--input select,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--input select {
  margin: 0;
}

.domain-for-sale-content
  .domain-for-sale-field-box_shadow
  .domain-for-sale--input
  input {
  width: 58px;
}

.domain-for-sale-field-box_shadow .domain-for-sale--input input,
.domain-for-sale-field-border .domain-for-sale--input input,
.domain-for-sale-field-spacing .domain-for-sale--input input,
.domain-for-sale-field-column .domain-for-sale--input input,
.domain-for-sale-field-dimensions .domain-for-sale--input input,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--input input {
  position: relative;
  z-index: 1;
  margin: 0;
  width: 65px;
  max-width: 100%;
  text-align: center;
}

.domain-for-sale-field-box_shadow .domain-for-sale--color,
.domain-for-sale-field-border .domain-for-sale--color,
.domain-for-sale-field-spacing .domain-for-sale--color,
.domain-for-sale-field-dimensions .domain-for-sale--color {
  float: left;
}

.domain-for-sale-field-box_shadow .domain-for-sale--label,
.domain-for-sale-field-border .domain-for-sale--label,
.domain-for-sale-field-spacing .domain-for-sale--label,
.domain-for-sale-field-column .domain-for-sale--label,
.domain-for-sale-field-dimensions .domain-for-sale--label,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  min-width: 20px;
  max-width: 100%;
  padding: 0 4px;
  font-size: 12px;
  text-align: center;
  color: #555;
  border: 1px solid #7b776c;
  background-color: #f5f5f5;
}

.domain-for-sale-field-box_shadow .domain-for-sale--icon,
.domain-for-sale-field-border .domain-for-sale--icon,
.domain-for-sale-field-spacing .domain-for-sale--icon,
.domain-for-sale-field-column .domain-for-sale--icon,
.domain-for-sale-field-dimensions .domain-for-sale--icon,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--icon {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}

.domain-for-sale-field-box_shadow .domain-for-sale--icon + input,
.domain-for-sale-field-border .domain-for-sale--icon + input,
.domain-for-sale-field-spacing .domain-for-sale--icon + input,
.domain-for-sale-field-column .domain-for-sale--icon + input,
.domain-for-sale-field-dimensions .domain-for-sale--icon + input,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--icon + input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.domain-for-sale-field-box_shadow .domain-for-sale--unit,
.domain-for-sale-field-border .domain-for-sale--unit,
.domain-for-sale-field-spacing .domain-for-sale--unit,
.domain-for-sale-field-column .domain-for-sale--unit,
.domain-for-sale-field-dimensions .domain-for-sale--unit,
.domain-for-sale-field-dimensions_advanced .domain-for-sale--unit {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}

.domain-for-sale-field-box_shadow .domain-for-sale--is-unit,
.domain-for-sale-field-border .domain-for-sale--is-unit,
.domain-for-sale-field-spacing .domain-for-sale--is-unit,
.domain-for-sale-field-dimensions .domain-for-sale--is-unit {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.domain-for-sale-field-checkbox.hide_taxonomy_name .hide-taxonomy-name {
  display: inline-block !important;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
}
