/**
 * 05. Widget
 */
.control-section{

  .domain-for-sale-field{
    padding: 0;

    .domain-for-sale-title{
      float: none;
      width: 100%;
      margin-bottom: 6px;

      h4{
        display: block;
        font-size: 13px;
        line-height: 1;
        font-weight: 600;
        color: inherit;
      }
    }

    .domain-for-sale-fieldset{
      float: none;
      width: 100%;
    }
  }

  .domain-for-sale-help{
    top: -5px;
    right: -5px;
  }

  .domain-for-sale-field-select select{
    width: 100%;
  }

  .domain-for-sale-field-heading{
    color: inherit;
    font-size: 14px;
    line-height: 1em;
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }

  .domain-for-sale-field-subheading{
    color: inherit;
    font-size: 11px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 15px;
  }

  .domain-for-sale-subtitle-text{
    margin-top: 4px;
    font-size: 12px;
  }

  .domain-for-sale-field-submessage .domain-for-sale-submessage{
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }

  .domain-for-sale-fieldset{

    .domain-for-sale-field-submessage .domain-for-sale-submessage,
    .domain-for-sale-field-heading,
    .domain-for-sale-field-subheading{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .domain-for-sale-field-date,
  .domain-for-sale-field-datetime{

    label{
      display: block;
    }

    .domain-for-sale--to{
      margin-top: 4px;
      margin-left: 0;
    }
  }

  .domain-for-sale-field-sorter{

    ul li{
      padding: 5px;
    }

    .domain-for-sale-modules{
      float: none;
      width: 100%;
    }

    .domain-for-sale-modules:first-child{
      padding-right: 0;
      padding-bottom: 15px;
    }
  }

  .domain-for-sale-field-background{

    .domain-for-sale--background-attributes{
      flex-direction: column;
    }
  }

  .domain-for-sale-field-spacing{
    input{
      width: 90px;
    }
  }

  .domain-for-sale-field-border{

    .domain-for-sale--input{
      flex: 1 50%;
    }

    input,
    select{
      width: 100%;
    }
  }

  .domain-for-sale-field-spinner{
    input{
      width: 50px;
    }
  }

  .domain-for-sale-field-number{

    .domain-for-sale--wrap{
      width: 100%;
    }
  }

  .domain-for-sale-field-backup{

    .domain-for-sale-export-data{
      display: none;
    }
  }

  .domain-for-sale-field-fieldset{

    .domain-for-sale-fieldset-content{
      border-color: #e5e5e5;
    }
  }

  .domain-for-sale-tabbed-content,
  .domain-for-sale-sortable-content,
  .domain-for-sale-repeater-content,
  .domain-for-sale-fieldset-content,
  .domain-for-sale-cloneable-content,
  .domain-for-sale-accordion-content{

    > .domain-for-sale-field{
      padding: 10px;

      .domain-for-sale-title{
        margin-bottom: 5px;
      }

      h4{
        font-size: 12px;
      }
    }
  }

  .domain-for-sale-depend-hidden.domain-for-sale-depend-on{
    display: none !important;
  }

  .domain-for-sale-depend-visible.domain-for-sale-depend-on{
    border-top: 0 !important;
  }
}
